<div class="container-fluid d-xl-none d-lg-none d-md-none d-block">
        <div class="row bg-white ">
                <div class="col-lg-3 col-6 offset-lg-0  order-xl-first  order-lg-first order-md-first  order-first m-bottom-xs">
                        <a href="/"><img src="https://res.cloudinary.com/aseed/image/upload/v1568370850/Le_Geste_Citoyen_Logo_Couleur_dy6ygy.jpg" class="img-fluid logo"></a>
                </div>
                <div class="col-lg-6 col-12 m-top-mini  order-xl-second order-lg-second order-md-second order-last">
                        <ul class="nav nav-pills text-center">
                            		<li class="nav-item d-xl-block d-lg-block d-md-block d-none ">
                                 <a href="/" class="nav-link"> Accueil</a>
                            </li>
                            <!--<li class="nav-item d-xl-block d-lg-block d-md-block ">
                                <a href="/corruptions" class="nav-link">Alertes Corruption</a>
                            </li>-->
                            <!--<li class="nav-item">
                                <a href="/services" class="nav-link">Services </a>
                            </li>
                            <li class="nav-item d-xl-block d-lg-block d-md-block d-none">
                                <a href="/annuaires" class="nav-link">L'annuaire </a>
                            </li>-->
                            <li class="nav-item d-xl-block d-lg-block d-md-block ">
                                <a href="/actualites" class="nav-link">Actualites </a>
                            </li>
                            <li class="nav-item d-xl-block d-lg-block d-md-block ">
                                <a href="/petitions" class="nav-link">Pétitions </a>
                            </li>
                            <li class="nav-item d-xl-block d-lg-block d-md-block ">
                                <a href="/sondages" class="nav-link">Sondages </a>
                            </li>
                            <!--<li class="nav-item d-xl-none d-lg-none d-md-none ">
                                <a href="/magazines" class="nav-link">Konect</a>
                            </li>-->
                            <li class="nav-item dropdown d-xl-none d-lg-none d-md-none d-none">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                                    <div class="dropdown-menu">
                                    
                                 <a href="/" class="dropdown-item" > Accueil</a>
                                <a href="/alertes" class="dropdown-item" >Alertes </a>
                                <a href="/services" class="dropdown-item" >Services </a>
                                <a href="/annuaires" class="dropdown-item" >L'annuaire </a>
                                <a href="/sujets" class="dropdown-item" >Avis </a>
                                <a href="/personnalites" class="dropdown-item" >Notes </a>
                                <a href="/magazines" class="dropdown-item" >Konect</a>
                                </div>
                            </li>
                        </ul>
                </div>
                <div class="col-lg-3 col-4 m-top-mini order-xl-last order-lg-last order-md-last order-second">
                        <ul class="nav nav-pills float-right">
                            <% if lecteur_signed_in?%>
                             <li class="nav-item dropdown">
        						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          							<%=current_citoyen.email%>
        						</a>
        						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
         								<%=link_to "Mon profil", edit_lecteur_registration_path, class:"dropdown-item"%>
                                <%=link_to "Déconexion", destroy_lecteur_session_path, class:"dropdown-item"%>
        					</div>
      					</li>
      					<% else %>
      					<li class="nav-item m-top-big-btn">
                                <%=link_to "Connexion", new_lecteur_session_path, class:"btn btn-geste btn-sm"%>
                            </li>
      				<%end %>
                    </ul>
                </div>
        </div >
</div>