<ul class="nav flex-column">
  <% if lecteur_signed_in?%>
  <li class="nav-item">
  <a href="/lecteurs/edit" class="nav-link"><i class="fas fa-user-circle"></i> Mon profil </a>
  </li>
  <li class="nav-item">
  <small><%=link_to "Déconnexion", destroy_lecteur_session_path, class:"nav-link"%></small>
  </li>
  <% else %>
  <li class="nav-item d-xl-block d-lg-block d-md-block">
    <%=link_to "Connexion", new_lecteur_session_path, class:"nav-link"%>
  </li>
  <%end %>
</ul>
                       
