<div class="d-xl-none d-lg-none d-md-none d-block">
  <h4 class="logo text-center mt-2 mb-2">les débats</h4>
  <div class="carousel"
  data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": false, "wrapAround": true }'>
  <div class="carousel-cell">
    <a class="" href="#">accueil</a>
  </div>
  <div class="carousel-cell">
    <a class="" href="#">à propos</a>
  </div>
  <%if lecteur_signed_in?%>
  <div class="carousel-cell">
    <a class="" href="#">Mon profil</a>
  </div>
  <% else %>
  <div class="carousel-cell">
    <a class="" href="#">Connexion</a> 
  </div>
  <% end %>
  <div class="carousel-cell">
    <a class="" href="#">contact</a>
  </div>
</div>
</div>
