/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require flickity
 *= require actiontext
 */
body{
	margin:0;
	background-color: #18191a;
	color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Merriweather', serif;
}
.navbar-niuz{
background-color: #262626;
}
.navbar-niuz .nav-link{
	font-size: 16px;
	color: #999898;
	text-transform: uppercase;
	font-weight: bold;

}
.navbar{
	padding: 0%;
}
.carousel {
  background-color: #262626;
  pading:5%;
  width:100%;
}

.carousel-cell {
  width: 30%;
  height: auto;
  margin-right: 10px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: left;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.carousel-cell a{
	font-size: 18px;
	color: #999898;
	text-transform: uppercase;
	font-weight: bold;

}
.niuz-container{
	width:100%;
	height: auto;
	padding: 0%;
}
.niuz-container img{
	width:100%;
	height: auto;
}
.niuz-entete{
	width:100%;
	height: auto;
	padding: 0%;
}
.niuz-titre a{
	font-size: 45px;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}
.niuz-corps{
	width:100%;
	height: auto;
	padding: 0%;
}
.niuz-contenu{
	font-size: 18px;
	color:white;
	margin-top:5%;
}
.btn{
	border-radius: 0px;
	text-transform: capitalize;
}
.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}


.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25%;
}
	/* Position the items */
	.sidebar-item:nth-child(2) { top: 25%; }
	.sidebar-item:nth-child(3) { top: 50%; }
	.sidebar-item:nth-child(4) { top: 75%; }

.make-me-sticky {
	position: sticky;
	top: 0;
    
  padding: 0 15px;
}
/*-------media queries------------*/
@media (min-width: 320px) and (max-width: 480px) {
 
.navbar-niuz{
background-color: #262626;
}
.navbar-niuz .nav-link{
	font-size: 20px;
	color: #999898;
	text-transform: uppercase;
	font-weight: bold;

}

.niuz-container{
	width:100%;
	height: auto;
	padding: 0%;
}
.niuz-container img{
	width:100%;
	height: auto;
}
.niuz-entete{
	width:100%;
	height: auto;
	padding: 5%;
}
.logo{
	font-size: 24px;
	color: #999898;
	text-transform: uppercase;
	font-weight: bold;
}
.niuz-titre a{
	font-size: 28px;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}
.niuz-corps{
	width:100%;
	height: auto;
	padding: 5%;
}
.niuz-contenu{
	font-size: 14px;
	color:white;
	margin-top:5%;
}
.btn{
	border-radius: 0px;
	text-transform: capitalize;
}
	
  }
/*-------media queries fin--------*/