/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require flickity
 *= require actiontext
 */
body{
	margin:0;
	background-color: ##f4f4f4/*#18191a*/;
	color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.like{
	color:black;
	background-color: red;
}
.liked{
	background-color:black;
	color: red;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Merriweather', serif;
}
.bg-top{
background-color: #262626;
}
.logo{
	font-size: 24px;
	color: #4d82cf;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-niuz{
background-color: #262626;
}
.navbar-niuz .nav-link{
	font-size: 16px;
	color: #999898;
	text-transform: uppercase;
	font-weight: bold;

}
.navbar{
	padding: 0%;
}
.carousel {
  background-color: #262626;
  pading:5%;
  width:100%;
}

.carousel-cell {
  width: 30%;
  height: auto;
  margin-right: 10px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: left;
  line-height: 200px;
  color: white;
}
.carousel-cell a{
	font-size: 18px;
	color: #999898;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5%;

}
.niuz-container{
	width:100%;
	height: auto;
	padding: 0%;
}
.niuz-container img{
	width:100%;
	height: auto;
}
.niuz-entete{
	width:100%;
	height: auto;
	padding: 3%;
	background-color:#242526;
}
.niuz-titre{
	font-size: 45px;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}
.niuz-corps{
	width:100%;
	height: auto;
	padding: 3%;
	background-color:#242526;
}
.niuz-contenu{
	font-size: 18px;
	color:white;
	margin-top:0%;
}
.niuz-side-left{
	background-color:transparent;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  /*z-index: 1;*/
  background-color: transparent;
  overflow-x: hidden;
 overflow-y: scroll;
  padding-top: 20px;
}
.niuz-side-left .nav-item a{
	font-size: 20px;
	color: #999898;
	text-transform: uppercase;
	font-weight: 800;

}
.niuz-side-left .nav-item a:hover{
	color: #4d82cf;

}
.niuz-side-right{
	background-color:transparent;
}
.m-top-mini{
	margin-top:2.5%;
}
.btn{
	border-radius: 0px;
	text-transform: capitalize;
}
.btn-trans{
	background-color:transparent;
}
.btn-positive{
	color:#388e3c;
	background-color: transparent;
}
.btn-negative{
	color:#d32f2f;
	background-color: transparent;
}
.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.like-button.animated {
  -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
}
.like-button svg {
  opacity: 1;
}
.like-button svg path {
  fill: #333;
  transition: fill .4s ease-out;
}
.like-button.active svg path {   
  fill: #2196f3;
 }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}


.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25%;
}
	/* Position the items */
	.sidebar-item:nth-child(2) { top: 25%; }
	.sidebar-item:nth-child(3) { top: 50%; }
	.sidebar-item:nth-child(4) { top: 75%; }

.make-me-sticky {
	position: sticky;
	top: 0;
    
  padding: 0 15px;
}
/*-------media queries------------*/
@media (min-width: 320px) and (max-width: 480px) {
 
.navbar-niuz{
background-color: #262626;
}
.navbar-niuz .nav-link{
	font-size: 20px;
	color: #999898;
	text-transform: uppercase;
	font-weight: bold;

}
.mini-menu .nav-link{
	font-size: 14px;
	color: #999898;
	text-transform: uppercase;
	font-weight: bold;

}
.niuz-container{
	width:100%;
	height: auto;
	padding: 0%;
}
.niuz-container img{
	width:100%;
	height: auto;
}
.niuz-entete{
	width:100%;
	height: auto;
	padding: 5%;
}
.logo{
	font-size: 24px;
	color: #999898;
	text-transform: uppercase;
	font-weight: bold;
}
.niuz-titre{
	font-size: 28px;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}
.niuz-corps{
	width:100%;
	height: auto;
	padding: 5%;
}
.niuz-contenu{
	font-size: 14px;
	color:white;
	margin-top:5%;
}
.btn{
	border-radius: 0px;
	text-transform: capitalize;
}
	
  }
/*-------media queries fin--------*/